<center>
    <h3>Market By Order</h3>
</center>
<table border="1" width="100%">
    <tr>
        <td>Buy</td>
        <td>Sell</td>
    </tr>
</table>
<table border="1" width="100%">
    <tr>
        <td>Volume</td>
        <td>Price</td>
        <td>Price</td>
        <td>Volume</td>
    </tr>
</table>