<div class="row">
    <div class="small-10 small-centered columns">
        <h3>Market By Order</h3>
        <table>
            <thead>
                <tr>
                    <td colspan="2" style="text-align: center">Buy</td>
                    <td colspan="2" style="text-align: center">Sell</td>
                </tr>
            </thead>
            <thead>
            <tr>
                <td>Volume</td>
                <td>Price</td>
                <td>Price</td>
                <td>Volume</td>
            </tr>
            </thead>
            <tbody>
                {{#each item in sortedMarketByOrder}}
                    <tr>
                        {{#each element in item}}
                            <td>
                                {{element}}
                            </td>
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>