<div class="row">
    <div class="small-10 small-centered columns">
        <h3>Market By Price</h3>
        <table>
            <thead>
            <tr>
                <td colspan="3">Buy</td>
                <td colspan="3">Sell</td>
            </tr>
            </thead>
            <thead>
            <tr>
                <td>#</td>
                <td>Volume</td>
                <td>Price</td>
                <td>Price</td>
                <td>Volume</td>
                <td>#</td>
            </tr>
            </thead>
            <tbody>
            {{#each item in sortedMarketByOrder}}
                <tr>
                    {{#each element in item}}
                        <td>
                            {{element}}
                        </td>
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>