<div class="row">
    <div class="small-10 small-centered columns">
        <h3>Place Bid Order for</h3>
        <h3>Company Name</h3>
        <ul class="small-block-grid-3">
            <il><h4>Number of Shares</h4><input class = "text"></il>
            <il><h4>Bid Price</h4><input class = "text"></il>
            <il><img src = 'images/apple.png'></il>
        </ul>
    </div>
    <div class ="small-6 columns">
        {{#link-to 'stocksStateSummary'}}<button>Submit</button>{{/link-to}}
        {{#link-to 'stocksStateSummary'}}<button>Cancel</button>{{/link-to}}
    </div>
</div>